<h2>{{ title }}</h2>
<a type="button" [routerLink]="'dashboard' | routerRedirection">Dashboard</a>
<br/>
<a type="button" [routerLink]="'auth' | routerRedirection">Auth</a>
<br/>
<a type="button" [routerLink]="['/', 'admin']" (mouseover)="preloadModule('admin')">Admin</a>
<br/>
<a type="button" [routerLink]="['/', 'heroes']" (mouseover)="preloadModule('heroes')">Heroes</a>
<br/>
<a type="button" [routerLink]="['/', 'titles']" (mouseover)="preloadModule('titles')">Titles</a>
<br/>
<router-outlet></router-outlet>
