:host {
  border: 1px solid red;
  display: block;
  position: relative;
  padding: 0 20px 20px;
}

.amount {
  color: red;
  span {
    background: #dd0131;
    color: white;
    padding: 5px;
  }
}

.hover-area {
  background: #e4e4b6;
  padding: 10px 20px;
}
